<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="inoWebCapture.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <inoWebCapture.My.MySettings>
            <setting name="LastUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="LastX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="LastWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="LastPicPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPicName" serializeAs="String">
                <value />
            </setting>
        </inoWebCapture.My.MySettings>
    </userSettings>
</configuration>
